<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<!-- <h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p> -->

<!-- <h2 class="text-center">Cours disponible</h2>
<br><br>
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 ">
      <% @courses.each do |course| %>
        <div class="row">
          <div class="col-md-10">

            <h3 class="yummmy"><%= link_to course.name, course_path(course) %></h3>


            <p><%= course.description %> <h3><%= course.price %> €</h3></p>
            <div class="caption text-center">

            </div>
          </div>
        </div>
<% end %>
</div>
</div>
 -->


<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "card", course: course %>
        </div>
        <%course.name%>
        <%course.name%>
        <%course.name%>
        <% end %>
      </div>
    </div>

<br>
<!-- <div class="ui card">
  <div class="ui slide masked reveal image">
    <%= link_to image_tag('crudité.jpg'), courses_path, width:"10px", class: "visible content"%>
    <%= link_to image_tag('lucien.jpg'), courses_path, width:"10px", class: "hidden content"%>
    <img src="crudité.jpg" class="visible content">
    <img src="crudité.jpg" class="hidden content">
  </div>
  <div class="content">
    <a class="header">Team Fu &amp; Hess</a>
    <div class="meta">
      <span class="date">Create in Sep 2014</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div>
simple card de google ui -->


<!-- <div class="ui move reveal">
  <div class="visible content">
    <img src="lucien.png" class="ui small image">
  </div>
  <div class="hidden content">
    <img src="burritos.jpg" class="ui small image">
  </div>
</div>
vien de google uui card reveal -->

<!-- ***********************
***********************
***********************
***********************           Séparation avec le Footer
***********************
***********************
***********************
***********************
*********************** -->


<br>
<br>
<br>
<br>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 ">
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <ul class="list-inline social">
              <li>
                  <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "logo_face.jpg", width:"75px", id: "logo" %>
       <% end %>
              </li>
              <li>
                 <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "logo_t.jpg", width:"75px", id: "logo" %>
       <% end %>
              <li>
                <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "logo_in", width:"75px", id: "logo" %>
       <% end %>
              </li>
              <li>
                <div class="col-xs-2">
       <%= link_to "http://facebook.com" do %>
       <%= image_tag "logo_yt.jpg", width:"75px", id: "logo" %>
       <% end %>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
 </div>
</div>
 -->

<!--
<h4 class="text-center"><%= link_to "À propos", pages_about_path %></h4>
 -->

<!--
<div class="card">
  <span class="card-bg" style="background-image: url('http://postimg.org/image/cwmi6g27b/')"></span>
</div>
 -->
